<!DOCTYPE html>
<html>
    <head>
        <title>My Bio Page</title>
    </head>

    <style>
        #card {
            position: absolute;
            top: 15%;
            left: 35%;
            background-color: white;
            width: 25%;
            height: 50%;
            padding: 10px;
            border-radius: 5px;
            text-align: center;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        }
        h1,h4 {
            margin: 0px;
            padding: 0px;
        }
        h1 {
            padding-top: 10px;
        }
        li {
            padding: 5px;
        }
        img {
            padding-top: 15px;
            max-height: 200px;
            max-width: 150px;
            border-radius: 50%;
        }
        body {
            background-color: #F6F6F6;
            font-family: Sans-Serif;
            font-weight: lighter;
        }
    </style>

    <body>
        <div id="card">
            <img src="https://scontent-lax3-1.xx.fbcdn.net/v/t1.0-9/16298514_257775907986999_288901249848855339_n.jpg?oh=ee4b5bbae1820fea49539af0b8c1886d&oe=5A3F937C" />
            <h1>Garrett Wesley</h1>
            <h4>Freshman</h4>
            <ul style="text-align: left">
                <li>I'm from San Diego, Ca</li>
                <li>I've swam across the Catalina Channel</li>
                <li>I look forward to creating dynamic and useful websites</li>
            </ul>
        </div>
    </body>
</html>